importFrom("hydroTSM", sfreq, vector2zoo, daily2monthly, daily2annual, monthly2annual, drawTimeAxis, fdc, time2season, seasonalfunction)
importFrom("zoo", is.zoo, coredata, plot.zoo, "time<-")
importFrom("xts", is.xts, as.xts, plot.xts, .index)

exportPattern("^[^\\.]")

S3method(whl, zoo)
S3method(wh, zoo)
S3method(wl, zoo)
S3method(wmNSE, zoo)

